<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 pull-left">
      <% Category.all.each do |category| %>
        <%= link_to category.title, loan_requests_path(category: category.title) %> |
      <% end %>
    </div>
  </div>
</div>

<br>

<%= will_paginate @loan_requests, renderer: BootstrapPagination::Rails %>
<%= render "shared/lender_thumbnail" %>
<%= will_paginate @loan_requests, renderer: BootstrapPagination::Rails %>
