<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter by Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="categories_dropdown">
        <% @categories.each do |category| %>
          <li class="<%= category.title %>"> <%= link_to category.title, category_path(category), id: "category-#{category.id}"%></li>
          <li role="separator" class="divider"></li>
        <% end %>
      </ul>
    </div>
    <%= render "shared/search" %>

  </div>
</div>

<br>
  <%= render "shared/lender_thumbnail" %>
