<div class="row">
  <div class="col-md-6 col-md-offset-3 center-text">
    <h1>Keevah has a problem</h1>
    <%= @error_msg %>
    <br>
    <%= yield %>
    <br>
    <%= link_to "Return to Keevah's Home Page", root_path %>
  </div>
</div>

